/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 3, 2024, 11:31:58 AM
    Author     : royam
*/

body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    heigt: 90px;
    background-color: #2DAF9D;
}

